* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.contenedor-index {
  max-width: 65%;
  font-family: Arial, sans-serif;
  margin-inline: auto;
}

ul {
  list-style: none;
}

/* 1. Contenedor Principal (Header/Nav) */
header {
  max-width: 95%;
  background-color: #79a3e0;
  overflow: hidden;
  border-bottom: 1px solid #79a3e0;
  height: 60px;
}

/* 2. Estilos Comunes de las "Celdas" (<li>) */
nav ul li {
  border-right: 1px solid white;
  text-align: center;
  box-sizing: border-box;
}

li:last-child {
  border-right: none;
}

.li-logo {
  float: left;
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

.logo-texto {
  font-size: 40px;
  color: white;
  line-height: 60px;
}

.logo-texto-UCV {
  font-size: 20px;
}

.li-saludo-nombre {
  float: left;
  width: 32%;
}

.saludo-texto {
  font-size: 16px;
  line-height: 60px;
  color: white;
}

/* 5. Estilos del Formulario */

.li-busqueda {
  width: auto;
  float: right;
}

.form-busqueda-nombre {
  padding-top: 14px;
  text-align: right;
}

.form-busqueda-nombre input[type='text'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  height: 12px;
}

.btn-buscar {
  font-size: 15px;
  color: #7db4fd;
  padding: 6px 8px;
  margin-right: 12px;
  border: none;
  background-color: #f7fbff;
  cursor: pointer;
  margin-left: 5px;
}

.seccion-estudiantes {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 10px;
}

.card-estudiante {
  width: 200px;
  height: 200px;
  background-color: #eef2f77b;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  float: left;
  margin: 10px;
}

.card-img-container {
  height: 150px;
  width: 150px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.img-card-estudiante {
  height: 150px;
  width: 140px;
  object-fit: contain;
}

.nombre-estudiante {
  color: #7aa4e4;
}

.footer-index {
  clear: both;
  max-width: 95%;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
  color: #000000;
  background-color: #79a3e0;
}

/*Estilos para perfil.html*/
.contenedor {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.img-contenedor {
  width: 200px;
  height: 335px;
  float: left;
  margin-right: 2px;
}

.estudiante-img {
  border-top-left-radius: 50px;
  width: 200px;
  height: 335px;
  object-fit: cover;
}

.estudiante-info {
  font-size: 16px;
  font-family: sans-serif;
  width: 700px;
  height: 332px;
  float: left;
  border: 2px solid #000000;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);
}

.estudiante-nombre {
  font-size: 35px;
  color: orange;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.estudiante-descripcion-contenedor {
  margin-left: 10px;
  padding-right: 10px;
}
.estudiante-descripcion {
  font-style: italic;
  font-family: sans-serif;
}

.estudiante-intereses-contenedor {
  margin-left: 10px;
  margin-top: 20px;
}

.estudiante-intereses td {
  padding-right: 40px;
  padding-bottom: 3px;
}

footer {
  margin-left: 10px;
  clear: both;
  font-size: 16px;
}

.contacto-enlace {
  padding-left: 5px;
  text-decoration: none;
  color: orange;
}

.contacto-enlace:active {
  color: red;
}
